<%- include('../partials/head') %>
    <%- include('../partials/signOutButton') %>
  </nav>
  <section class="section">
    <p class="is-size-5 pb-5">
      You have <%= photos.length %> unclassified photos.
    </p>
    <div class="photos-grid">
      <% for (const photo of photos) { %>
        <a href="<%= photo.productUrl %>" target="_blank">
          <img
            class="photos-grid__photo"
            src="<%= photo.baseUrl %>"
            alt="<%= photo.filename %>"
            referrerpolicy="no-referrer"
          />
        </a>
      <% } %>
    </div>
    <a class="has-text-link" href="/">Go back</a>
  </section>
</body>

</html>
